<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <h2>Lake Erie Wave Height Predictor</h2>
         <p>Provide wind speed (m/s) and direction (deg N) at 10 m elevation</p>
         <p>Present <input type = "number" name = "wspd_0h"/><input type = "number" name = "wdir_0h"/></p>
         <p>12 h ago <input type = "number" name = "wspd_12h"/><input type = "number" name = "wdir_12h"/></p>
         <p>24 h ago <input type = "number" name = "wspd_24h"/><input type = "number" name = "wdir_24h"/></p>
         <p><input type = "submit" value = "Submit" /></p>
      </form>
   </body>
</html>